body{
    font-family: 'Bellota', cursive;
    overflow: hidden;
}

body >main >div{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.img > div{
    position: absolute;
}
.img >div >img, .img >div >div{
    position: absolute;
    color: black;
    width: 100vw;
    height: 100vh;
}
.img >div >div{
    display: grid;
    align-content: end;
    justify-items: center;
}
.img >div >div >div{
    width: 50%;
    text-align: center;   
    display: grid;
    border-radius: 20px 20px 0 0;
    background:  rgba(255, 255, 255, 0.140);
}
.img >div:nth-child(5) >div >div{
    background:  rgba(255, 255, 255, 0);
}
.img >div >div >div >h5{
    font-size: 4em;
    margin: 1em;
}
.img >div >div >div >p{
    font-size: 2em;
    margin: 1em;
}
.buttons{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.buttons >img{
    height: 50vh;
    width: 9vw;
    background: rgba(255, 255, 255, 0.32);
    padding: 1em;
    transition: all 0.2s;
    cursor: pointer;
}
.buttons >img:nth-child(2){
    align-self: end;
    justify-self: end;
    align-self: center;
    border-radius: 20px 0px 0px 20px;
}
.buttons >img:nth-child(1){
    border-radius: 0px 20px 20px 0;
}
.buttons >img:hover{
    filter: invert()
}
.click >div >a{
        color: black;
        margin: 9rem;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.733);
        width: 30%;
        justify-self: center;
        height: 25%;
        align-self: center;
        display: grid;
        align-content: center;
        font-size: 1.5em;
        z-index: 100;
        transition: .2s;
        position: relative;
        overflow: hidden; 
}
.txt >div >a{
        color: black;
        margin: 9rem;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.733);
        width: 30%;
        justify-self: center;
        height: 25%;
        align-self: center;
        display: grid;
        align-content: center;
        font-size: 1.5em;
        z-index: 100;
        transition: .2s;
        position: relative;
        overflow: hidden;  
}
.txt >div >a >span, .click >div >a >span{
        position: absolute;
}
.txt >div >a:hover{
        transition-delay: 1s;
        box-shadow: 0 0 40px black, 0 0 80px black, 0 0 120px black;
        filter: invert()
}

.txt >div >a >span:nth-child(1), .click >div >a >span:nth-child(1){
   height: 4px;
   width: 100%;
   top: 0;
   left: -100%;
   background: linear-gradient(90deg, transparent,black);
}
.txt >div >a >span:nth-child(2), .click >div >a >span:nth-child(2){
    width: 4px;
    height: 100%;
    right: 0;
    top: -100%;
    background: linear-gradient(180deg, transparent,black);
}
.txt >div >a >span:nth-child(3), .click >div >a >span:nth-child(3){
    height: 4px;
    width: 100%;
    bottom: 0;
    right: -100%;
    background: linear-gradient(270deg, transparent,black);
}
.txt >div >a >span:nth-child(4), .click >div >a >span:nth-child(4){
    width: 4px;
    height: 100%;
    left: 0;
    bottom: -100%;
    background: linear-gradient(360deg, transparent,black);
}

    /* animations*/

.txt >div >a:hover >span:nth-child(1){
    transition: all 1s;
    left: 100%;
}
.txt >div >a:hover >span:nth-child(2){
    transition: all 1s;
    transition-delay: .25s;
    top: 100%;
}
.txt >div >a:hover >span:nth-child(3){
    transition: all 1s;
    transition-delay: .5s;
    right: 100%;
}
.txt >div >a:hover >span:nth-child(4){
    transition: all 1s;
    transition-delay: .75s;
    bottom: 100%;
}
.click2 >div >a >span:nth-child(1){
    transition: all 1s;
    left: 100%;
}
.click2 >div >a >span:nth-child(2){
    transition: all 1s;
    transition-delay: .25s;
    top: 100%;
}
.click2 >div >a >span:nth-child(3){
    transition: all 1s;
    transition-delay: .5s;
    right: 100%;
}
.click2 >div >a >span:nth-child(4){
    transition: all 1s;
    transition-delay: .75s;
    bottom: 100%;
}
/* responsive */

@media screen and (max-width: 600px){
    .buttons >img{
        visibility: collapse;
    }
    .img >div >div{
        align-content: center;
    }
    .click >div >a{
        margin: 0;
        width: 100%;
        height: 300%;
    }
}


@media screen and (max-width: 200px){
    .click >div >a{
        font-size: 1em;
    }
}